@import "../../../styles/mixins/button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signin-form-container {
  button {
    @include primary-button(white, rgb(58, 139, 58));
    width: 100%;

    &:hover {
      @include primary-button(white, green);
    }
  }
}
