@import "../../../styles/mixins/button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signin-form-container {

  // .btn-disable{
  //   @include primary-button(white, rgb(119, 118, 118));
  //   width: 100%;
  //   cursor: not-allowed;
  // }
  
  .btn-able{
    @include primary-button(white, rgb(119, 118, 118));
    width: 100%;
    &:hover {
      @include primary-button(white, rgb(68, 160, 214));
      cursor: pointer;
    }
  }
}
