@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

$site-heading: "Cookie", cursive;
$site-font: 35px;

$popins: "Poppins", sans-serif;
